apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prometheusdata
  namespace: my-prometheus
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-server
  namespace: my-prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus-server
  template:
    metadata:
      labels:
        app: prometheus-server
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: dbcluster
                operator: DoesNotExist
      containers:
      - image: prom/prometheus
        args:
        - --config.file=/etc/prometheus/prometheus.yml
        - --storage.tsdb.path=/prometheus
        - --web.enable-admin-api
        - --storage.tsdb.retention.size=3500MB
        imagePullPolicy: Always
        name: prometheus
        ports:
        - containerPort: 9090
          protocol: TCP
        volumeMounts:
        - mountPath: /etc/prometheus
          name: config-volume
        - mountPath: /prometheus
          name: prometheusdata-volume
      securityContext: {fsGroup: 26}
      serviceAccountName: alloydb-omni-prometheus
      volumes:
      - configMap:
          defaultMode: 420
          name: prometheus-server-conf
        name: config-volume
      - name: prometheusdata-volume
        persistentVolumeClaim:
          claimName: prometheusdata
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: my-prometheus
spec:
  ports:
  - port: 9090
    protocol: TCP
    targetPort: 9090
  selector:
    app: prometheus-server
  type: ClusterIP
  clusterIP: None
