apiVersion: v1
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
    scrape_configs:
      - job_name: 'prometheus-self'
        static_configs:
          - targets: ['localhost:9090']
      - job_name: "alloydbomni-metrics"
        kubernetes_sd_configs:
          - role: service
        scheme: http
        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        authorization:
          credentials_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        relabel_configs:
          - source_labels: [ __meta_kubernetes_service_label_alloydbomni_internal_dbadmin_goog_task_type]
            action: keep
            regex: monitoring
kind: ConfigMap
metadata:
  name: prometheus-server-conf
  namespace: my-prometheus
