fastapi==0.115.6
uvicorn[standard]==0.30.6
python-dotenv==1.0.1
asyncpg==0.30.0
requests==2.32.3
google-auth==2.38.0
PyJWT==2.10.1
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
scikit-learn==1.5.2
numpy==1.26.4